@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@-webkit-keyframes slideInRight {
  0% {
    margin-right: -3000px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    margin-right: -3000px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    margin-left: -1000px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    margin-left: -1000px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideInLeft2 {
  0% {
    margin-left: -1000px;
    opacity: 0;
  }
  100% {
    margin-left: 20px;
    opacity: 1;
  }
}

@keyframes slideInLeft2 {
  0% {
    margin-left: -1000px;
    opacity: 0;
  }
  100% {
    margin-left: 20px;
    opacity: 1;
  }
}

@-webkit-keyframes slideUp {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes slideUp {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #131A22;
}

@media screen and (min-width: 1501px) {
  .hamburger {
    display: none;
  }
  .container, .serviceBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  a {
    text-decoration: none;
  }
  #section2, #section3, #section4, #section5, #section6 {
    text-align: center;
    padding: 10vh 10vw 5vh;
  }
  #section2 h2, #section3 h2, #section4 h2, #section5 h2, #section6 h2 {
    font-size: 25px;
    color: #FFF;
  }
  #section3 h2, #section4 h2, #section5 h2, #section6 h2 {
    margin-bottom: 20px;
  }
  #section2 h2 span, #section3 h2 span, #section4 h2 span, #section5 h2 span, #section6 h2 span {
    color: #FEBD69;
    font-weight: bold;
  }
  /*HEADER */
  header {
    background: url("../img/header-bg-2.jpg");
    background-size: cover;
    background-position-y: bottom;
    padding-top: 30px;
    padding-bottom: 5vh;
  }
  .scrolled {
    background-color: #232F3E !important;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background: transparent;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    -webkit-animation: slideInLeft 1s ease-in-out;
            animation: slideInLeft 1s ease-in-out;
  }
  .nav img {
    width: 50px;
  }
  .nav ul {
    width: 70%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-animation: slideInRight 1s ease-in-out;
            animation: slideInRight 1s ease-in-out;
  }
  .nav li a {
    color: #FFF;
    font-weight: 300;
    font-size: 16px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav li a:hover {
    color: #FEBD69;
  }
  #intro {
    width: 80%;
    border-left: 1px solid #FEBD69;
    color: #FFF;
    margin-left: 20px;
    padding-left: 15px;
    margin-top: 15vh;
    -webkit-animation: slideInLeft2 1s ease-in-out;
            animation: slideInLeft2 1s ease-in-out;
  }
  #intro h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
  }
  #intro p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  #intro a {
    font-size: 18px;
    color: #FFF;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #FEBD69;
    display: inline-block;
    -webkit-transition: .3s;
    transition: .3s;
  }
  #intro a:active {
    background-color: #FEBD69;
  }
  #intro a:hover {
    background-color: #FEBD69;
    color: #131A22;
  }
  /*SECTION 2 */
  #section2 p {
    font-weight: 400;
    margin-top: 20px;
    font-size: 16px;
    color: #FFF;
  }
  #section2 p:nth-child(3) {
    font-weight: 300;
  }
  #section2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: slideUp 1s ease-in-out;
            animation: slideUp 1s ease-in-out;
  }
  #section2 .container img {
    width: 50%;
    margin-left: 20px;
  }
  #section2 a {
    font-size: 16px;
    color: #131A22;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #FEBD69;
    display: inline-block;
    margin-top: 20px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  #section2 a:active {
    background-color: transparent;
    color: #FEBD69;
    border: 1px solid #FEBD69;
  }
  #section2 a:hover {
    background-color: transparent;
    color: #FEBD69;
  }
  /*SECTION 3 */
  #section3 {
    background-color: #131a22;
  }
  #section3 p:nth-child(2) {
    margin-bottom: 50px;
    color: #FFF;
  }
  #section3 .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .serviceBox {
    width: 25%;
    background-color: #232F3E;
    padding: 50px 20px;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .serviceBox:first-child, .serviceBox:nth-child(2), .serviceBox:nth-child(3) {
    margin-right: 20px;
  }
  .serviceBox .fas {
    padding: 20px;
    border-radius: 50%;
    background-color: #131A22;
    color: #FEBD69;
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
  .serviceBox h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #FFF;
  }
  .serviceBox p {
    color: #FFF;
  }
  /*SECTION 4 */
  #skillsParagraph {
    color: #FFF;
  }
  .skillTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #FFF;
  }
  #section4 form {
    width: 100%;
  }
  #section4 form progress {
    width: 100%;
    margin-bottom: 20px;
    -webkit-appearance: none;
    border: none;
    height: 10px;
  }
  #section4 form progress::-webkit-progress-bar {
    background-color: #232F3E;
    border-radius: 10px;
  }
  #section4 form progress::-webkit-progress-value {
    background-color: #FEBD69;
    border-radius: 10px;
  }
  #section4 form progress:last-child {
    margin-bottom: 0px;
  }
  #skillsParagraph {
    margin-bottom: 50px;
  }
  /*SECTION 5 */
  #section5 {
    background-color: #131A22;
  }
  #section5 .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #section5 #projects {
    color: #FFF;
    margin-bottom: 50px;
  }
  .portfolioBox {
    width: 45%;
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolioBox:nth-child(1) {
    margin-right: 20px;
    background: url("../img/Image 001.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox:nth-child(2) {
    background: url("../img/Image 002.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox:nth-child(3) {
    margin-right: 20px;
    background: url("../img/Image 003.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox:nth-child(4) {
    background: url("../img/Image 004.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox h4 {
    color: #FFF;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .portfolioBox p {
    font-size: 16px;
    margin-bottom: 0;
    color: #FFF;
  }
  .portfolioBox p:nth-child(3) {
    font-style: italic;
    font-weight: lighter;
    margin-top: 20px;
  }
  /*SECTION 6 */
  #section6 #contactParagraph {
    color: #FFF;
  }
  #contactForm {
    background-color: #232F3E;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
  }
  #contactForm .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #contactForm p {
    text-align: left;
    font-weight: 300;
    color: #FFF;
  }
  #getInTouch {
    width: 50%;
    margin-right: 20px;
  }
  #getInTouch h3 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #FFF;
  }
  #saySomething {
    width: 50%;
  }
  #saySomething h3 {
    font-size: 16px;
    color: #FFF;
  }
  #saySomething form {
    width: 100%;
  }
  #saySomething form button {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #FEBD69;
    color: #FFF;
    margin-top: 20px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  #saySomething form button:hover {
    background-color: #FEBD69;
    cursor: pointer;
  }
  #socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 20px auto 50px;
  }
  .fas, .fab, .far {
    margin-right: 5px;
    color: #FEBD69;
  }
  #socials p {
    font-weight: 200;
  }
  #saySomething input, textarea {
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
  }
  /*FOOTER */
  footer {
    background: #131A22;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 5vh;
  }
  footer .line {
    width: 70%;
    height: 1px;
    background-color: #232F3E;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  footer img {
    width: 50px;
    margin-bottom: 20px;
  }
  footer #connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  footer .fab, footer .fas {
    color: #232F3E;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  footer p {
    color: #232F3E;
  }
}

@media screen and (max-width: 1500px) {
  .hamburger {
    display: none;
  }
  .container, .serviceBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  a {
    text-decoration: none;
  }
  #section2, #section3, #section4, #section5, #section6 {
    text-align: center;
    padding: 10vh 10vw 5vh;
  }
  #section2 h2, #section3 h2, #section4 h2, #section5 h2, #section6 h2 {
    font-size: 25px;
    color: #FFF;
  }
  #section3 h2, #section4 h2, #section5 h2, #section6 h2 {
    margin-bottom: 20px;
  }
  #section2 h2 span, #section3 h2 span, #section4 h2 span, #section5 h2 span, #section6 h2 span {
    color: #FEBD69;
    font-weight: bold;
  }
  /*HEADER */
  header {
    background: url(../img/header-bg-2.jpg);
    background-size: cover;
    background-position-y: bottom;
    padding-top: 30px;
    padding-bottom: 10vh;
  }
  .scrolled {
    background-color: #232F3E !important;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background: transparent;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    -webkit-animation: slideInLeft 1s ease-in-out;
            animation: slideInLeft 1s ease-in-out;
  }
  .nav img {
    width: 50px;
  }
  .nav ul {
    width: 70%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-animation: slideInRight 1s ease-in-out;
            animation: slideInRight 1s ease-in-out;
  }
  .nav li a {
    color: #FFF;
    font-weight: 300;
    font-size: 16px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav li a:hover {
    color: #FEBD69;
  }
  #intro {
    width: 80%;
    border-left: 1px solid #FEBD69;
    color: #FFF;
    margin-left: 20px;
    padding-left: 15px;
    margin-top: 15vh;
    -webkit-animation: slideInLeft2 1s ease-in-out;
            animation: slideInLeft2 1s ease-in-out;
  }
  #intro h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
  }
  #intro p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  #intro a {
    font-size: 18px;
    color: #FFF;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #FEBD69;
    display: inline-block;
    -webkit-transition: .3s;
    transition: .3s;
  }
  #intro a:active {
    background-color: #FEBD69;
  }
  #intro a:hover {
    background-color: #FEBD69;
    color: #131A22;
  }
  /*SECTION 2 */
  #section2 p {
    font-weight: 400;
    margin-top: 20px;
    font-size: 16px;
    color: #FFF;
  }
  #section2 p:nth-child(3) {
    font-weight: 300;
  }
  #section2 .container {
    -webkit-animation: slideUp 1s ease-in-out;
            animation: slideUp 1s ease-in-out;
  }
  #section2 .container img {
    display: none;
  }
  #section2 a {
    font-size: 16px;
    color: #131A22;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #FEBD69;
    display: inline-block;
    margin-top: 20px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  #section2 a:active {
    background-color: transparent;
    color: #FEBD69;
    border: 1px solid #FEBD69;
  }
  #section2 a:hover {
    color: #FEBD69;
    background-color: transparent;
  }
  /*SECTION 3 */
  #section3 {
    background-color: #131a22;
  }
  #section3 p:nth-child(2) {
    margin-bottom: 50px;
    color: #FFF;
  }
  #section3 .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .serviceBox {
    width: 45%;
    background-color: #232F3E;
    padding: 20px 20px;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .serviceBox:first-child, .serviceBox:nth-child(3) {
    margin-right: 20px;
  }
  .serviceBox .fas {
    padding: 20px;
    border-radius: 50%;
    background-color: #131A22;
    color: #FEBD69;
    font-size: 1.75rem;
  }
  .serviceBox i, .serviceBox h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #FFF;
  }
  .serviceBox p {
    color: #FFF;
  }
  /*SECTION 4 */
  #skillsParagraph {
    color: #FFF;
  }
  .skillTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #FFF;
  }
  #section4 form {
    width: 100%;
  }
  #section4 form progress {
    width: 100%;
    margin-bottom: 20px;
    -webkit-appearance: none;
    border: none;
    height: 10px;
  }
  #section4 form progress::-webkit-progress-bar {
    background-color: #232F3E;
    border-radius: 10px;
  }
  #section4 form progress::-webkit-progress-value {
    background-color: #FEBD69;
    border-radius: 10px;
  }
  #section4 form progress:last-child {
    margin-bottom: 0px;
  }
  #skillsParagraph {
    margin-bottom: 50px;
  }
  /*SECTION 5 */
  #section5 {
    background-color: #131A22;
  }
  #section5 .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #section5 #projects {
    color: #FFF;
    margin-bottom: 50px;
  }
  .portfolioBox {
    width: 45%;
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolioBox:nth-child(1) {
    margin-right: 20px;
    background: url("../img/Image 001.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox:nth-child(2) {
    background: url("../img/Image 002.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox:nth-child(3) {
    margin-right: 20px;
    background: url("../img/Image 003.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox:nth-child(4) {
    background: url("../img/Image 004.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox h4 {
    color: #FFF;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .portfolioBox p {
    font-size: 16px;
    margin-bottom: 0;
    color: #FFF;
  }
  .portfolioBox p:nth-child(3) {
    font-style: italic;
    font-weight: lighter;
    margin-top: 20px;
  }
  /*SECTION 6 */
  #section6 #contactParagraph {
    color: #FFF;
  }
  #contactForm {
    background-color: #232F3E;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
  }
  #contactForm .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #contactForm p {
    text-align: left;
    font-weight: 300;
    color: #FFF;
  }
  #getInTouch {
    width: 50%;
    margin-right: 20px;
  }
  #getInTouch h3 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #FFF;
  }
  #saySomething {
    width: 50%;
  }
  #saySomething h3 {
    font-size: 16px;
    color: #FFF;
  }
  #saySomething form {
    width: 100%;
  }
  #saySomething form button {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #FEBD69;
    color: #FFF;
    margin-top: 20px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  #saySomething form button:hover, #saySomething form button:active {
    background-color: #FEBD69;
    cursor: pointer;
  }
  #socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 20px auto 50px;
  }
  .fas, .fab, .far {
    margin-right: 5px;
    color: #FEBD69;
  }
  #socials p {
    font-weight: 200;
  }
  #saySomething input, textarea {
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
  }
  /*FOOTER */
  footer {
    background: #131A22;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 5vh;
  }
  footer .line {
    width: 70%;
    height: 1px;
    background-color: #232F3E;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  footer img {
    width: 50px;
    margin-bottom: 20px;
  }
  footer #connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  footer .fab, footer .fas {
    color: #232F3E;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  footer p {
    color: #232F3E;
  }
}

@media screen and (max-width: 992px) {
  .hamburger {
    display: none;
  }
  .container, .serviceBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  a {
    text-decoration: none;
  }
  #section2, #section3, #section4, #section5, #section6 {
    text-align: center;
    padding: 5vh 10vw 5vh;
  }
  #section2 h2, #section3 h2, #section4 h2, #section5 h2, #section6 h2 {
    font-size: 25px;
    color: #FFF;
  }
  #section3 h2, #section4 h2, #section5 h2, #section6 h2 {
    margin-bottom: 20px;
  }
  #section2 h2 span, #section3 h2 span, #section4 h2 span, #section5 h2 span, #section6 h2 span {
    color: #FEBD69;
    font-weight: bold;
  }
  /*HEADER */
  header {
    background: url(../img/header-bg-2.jpg);
    background-size: cover;
    padding-top: 30px;
  }
  .scrolled {
    background-color: #232F3E !important;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background: transparent;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    -webkit-animation: slideInLeft 1s ease-in-out;
            animation: slideInLeft 1s ease-in-out;
  }
  .nav img {
    width: 50px;
  }
  .nav ul {
    width: 70%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-animation: slideInRight 1s ease-in-out;
            animation: slideInRight 1s ease-in-out;
  }
  .nav li a {
    color: #FFF;
    font-weight: 300;
    font-size: 16px;
  }
  #intro {
    width: 80%;
    border-left: 1px solid #FEBD69;
    color: #FFF;
    margin-left: 20px;
    padding-left: 15px;
    margin-top: 15vh;
    -webkit-animation: slideInLeft2 1s ease-in-out;
            animation: slideInLeft2 1s ease-in-out;
  }
  #intro h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
  }
  #intro p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  #intro a {
    font-size: 18px;
    color: #FFF;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #FEBD69;
    display: inline-block;
  }
  #intro a:active {
    background-color: #FEBD69;
  }
  /*SECTION 2 */
  #section2 p {
    font-weight: 400;
    margin-top: 20px;
    font-size: 16px;
    color: #FFF;
  }
  #section2 p:nth-child(3) {
    font-weight: 300;
  }
  #section2 a {
    font-size: 16px;
    color: #131A22;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #FEBD69;
    display: inline-block;
    margin-top: 20px;
  }
  #section2 a:active {
    background-color: transparent;
    color: #FEBD69;
    border: 1px solid #FEBD69;
  }
  /*SECTION 3 */
  #section3 {
    background-color: #131a22;
  }
  #section3 p:nth-child(2) {
    margin-bottom: 50px;
    color: #FFF;
  }
  #section3 .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .serviceBox {
    width: 45%;
    background-color: #232F3E;
    padding: 20px 20px;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .serviceBox:first-child, .serviceBox:nth-child(3) {
    margin-right: 20px;
  }
  .serviceBox .fas {
    padding: 20px;
    border-radius: 50%;
    background-color: #131A22;
    color: #FEBD69;
  }
  .serviceBox i, .serviceBox h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #FFF;
  }
  .serviceBox p {
    color: #FFF;
  }
  /*SECTION 4 */
  #skillsParagraph {
    color: #FFF;
  }
  .skillTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #FFF;
  }
  #section4 form {
    width: 100%;
  }
  #section4 form progress {
    width: 100%;
    margin-bottom: 20px;
    -webkit-appearance: none;
    border: none;
    height: 10px;
  }
  #section4 form progress::-webkit-progress-bar {
    background-color: #232F3E;
    border-radius: 10px;
  }
  #section4 form progress::-webkit-progress-value {
    background-color: #FEBD69;
    border-radius: 10px;
  }
  #section4 form progress:last-child {
    margin-bottom: 0px;
  }
  #skillsParagraph {
    margin-bottom: 50px;
  }
  /*SECTION 5 */
  #section5 {
    background-color: #131A22;
  }
  #section5 #projects {
    color: #FFF;
    margin-bottom: 50px;
  }
  .portfolioBox {
    width: 100%;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolioBox:nth-child(1) {
    margin-right: 0;
    background: url("../img/Image 001.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox:nth-child(2) {
    background: url("../img/Image 002.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox:nth-child(3) {
    margin-right: 0;
    background: url("../img/Image 003.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox:nth-child(4) {
    background: url("../img/Image 004.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox h4 {
    color: #FFF;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .portfolioBox p {
    font-size: 16px;
    margin-bottom: 0;
    color: #FFF;
  }
  .portfolioBox p:nth-child(3) {
    font-style: italic;
    font-weight: lighter;
    margin-top: 20px;
  }
  /*SECTION 6 */
  #section6 #contactParagraph {
    color: #FFF;
  }
  #contactForm {
    background-color: #232F3E;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
  }
  #contactForm .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contactForm p {
    text-align: left;
    font-weight: 300;
    color: #FFF;
  }
  #getInTouch h3 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #FFF;
  }
  #saySomething h3 {
    font-size: 16px;
    color: #FFF;
  }
  #saySomething form {
    width: 100%;
  }
  #saySomething form button {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #FEBD69;
    color: #FFF;
    margin-top: 20px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  #saySomething form button:hover, #saySomething form button:active {
    background-color: #FEBD69;
    cursor: pointer;
  }
  #socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 20px auto 50px;
  }
  .fas, .fab, .far {
    margin-right: 5px;
    color: #FEBD69;
  }
  #socials p {
    font-weight: 200;
  }
  #saySomething input, textarea {
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
  }
  /*FOOTER */
  footer {
    background: #131A22;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 5vh;
  }
  footer .line {
    width: 70%;
    height: 1px;
    background-color: #232F3E;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  footer img {
    width: 50px;
    margin-bottom: 20px;
  }
  footer #connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  footer .fab, footer .fas {
    color: #232F3E;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  footer p {
    color: #232F3E;
  }
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: inline-block;
  }
  .nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #131A22;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .nav #logo {
    width: 100%;
    margin-bottom: 100px;
    -webkit-animation: slideInLeft 1s ease-in-out;
            animation: slideInLeft 1s ease-in-out;
  }
  .nav ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: slideInRight 1s ease-in-out;
            animation: slideInRight 1s ease-in-out;
  }
  .nav ul li {
    margin-bottom: 20px;
  }
  .container, .serviceBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  a {
    text-decoration: none;
  }
  #section2, #section3, #section4, #section5, #section6 {
    text-align: center;
    padding: 10vh 20px 10vh;
  }
  #section2 h2, #section3 h2, #section4 h2, #section5 h2, #section6 h2 {
    font-size: 25px;
  }
  #section3 h2, #section4 h2, #section5 h2, #section6 h2 {
    margin-bottom: 20px;
  }
  #section2 h2 span, #section3 h2 span, #section4 h2 span, #section5 h2 span, #section6 h2 span {
    color: #FEBD69;
    font-weight: bold;
  }
  /*HEADER */
  header {
    height: 100vh;
    background: url(../img/header-bg-2-mobile.jpg);
    background-size: cover;
    padding-top: 30px;
  }
  nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-animation: slideInRight 1s ease-in-out;
            animation: slideInRight 1s ease-in-out;
  }
  nav ul li a {
    color: #FFF;
    font-weight: 300;
    font-size: 16px;
  }
  #intro {
    width: 80%;
    border-left: 1px solid #FEBD69;
    color: #FFF;
    margin-left: 20px;
    padding-left: 15px;
    margin-top: 31vh;
    -webkit-animation: slideInLeft2 1s ease-in-out;
            animation: slideInLeft2 1s ease-in-out;
  }
  #intro h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
  }
  #intro p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  #intro a {
    font-size: 18px;
    color: #FFF;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #FEBD69;
    display: inline-block;
  }
  /*SECTION 2 */
  #section2 p {
    font-weight: 400;
    margin-top: 20px;
    font-size: 16px;
  }
  #section2 p:nth-child(3) {
    font-weight: 300;
  }
  #section2 .container {
    -webkit-animation: slideUp 1s ease-in-out;
            animation: slideUp 1s ease-in-out;
  }
  #section2 .container img {
    display: none;
  }
  #section2 a {
    font-size: 16px;
    color: #131A22;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #FEBD69;
    display: inline-block;
    margin-top: 20px;
  }
  /*SECTION 3 */
  #section3 {
    background-color: #131A22;
  }
  #section3 p:nth-child(2) {
    margin-bottom: 50px;
  }
  .serviceBox {
    width: 70%;
    background-color: #232F3E;
    padding: 20px 30px;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .serviceBox:first-child, .serviceBox:nth-child(3) {
    margin-right: 0;
  }
  .serviceBox .fas {
    padding: 20px;
    border-radius: 50%;
    background-color: #131A22;
    color: #FEBD69;
    font-size: 1.75rem;
  }
  .serviceBox i, .serviceBox h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  /*SECTION 4 */
  .skillTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #section4 form {
    width: 100%;
  }
  #section4 form progress {
    width: 100%;
    margin-bottom: 20px;
    -webkit-appearance: none;
    border: none;
    height: 10px;
  }
  #section4 form progress::-webkit-progress-bar {
    background-color: #232F3E;
    border-radius: 10px;
  }
  #section4 form progress::-webkit-progress-value {
    background-color: #FEBD69;
    border-radius: 10px;
  }
  #section4 form progress:last-child {
    margin-bottom: 0px;
  }
  #skillsParagraph {
    margin-bottom: 50px;
  }
  /*SECTION 5 */
  #section5 {
    background-color: #131A22;
  }
  #section5 #projects {
    color: #FFF;
    margin-bottom: 50px;
  }
  .portfolioBox {
    width: 100%;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolioBox:nth-child(1) {
    margin-right: 0;
    background: url("../img/Image 001.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox:nth-child(2) {
    background: url("../img/Image 002.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox:nth-child(3) {
    margin-right: 0;
    background: url("../img/Image 003.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox:nth-child(4) {
    background: url("../img/Image 004.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
  .portfolioBox h4 {
    color: #FFF;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .portfolioBox p {
    font-size: 16px;
    margin-bottom: 0;
    color: #FFF;
  }
  .portfolioBox p:nth-child(3) {
    font-style: italic;
    font-weight: lighter;
    margin-top: 20px;
  }
  /*SECTION 6 */
  #contactForm {
    background-color: #232F3E;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
  }
  #contactForm .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contactForm p {
    text-align: left;
    font-weight: 300;
  }
  #getInTouch {
    width: 100%;
  }
  #getInTouch h3 {
    margin-bottom: 20px;
    font-size: 16px;
  }
  #saySomething {
    width: 100%;
  }
  #saySomething h3 {
    font-size: 16px;
  }
  #saySomething button {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #FEBD69;
    color: #FFF;
    margin-top: 20px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  #saySomething button:hover {
    background-color: #FEBD69;
    cursor: pointer;
  }
  #socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 20px auto 50px;
  }
  .fas, .fab, .far {
    margin-right: 5px;
    color: #FEBD69;
  }
  #socials p {
    font-weight: 200;
  }
  #saySomething input, textarea {
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
  }
  /*FOOTER */
  footer {
    background: #131A22;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 5vh;
  }
  footer .line {
    width: 70%;
    height: 1px;
    background-color: #232F3E;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  footer img {
    width: 50px;
    margin-bottom: 20px;
  }
  footer #connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  footer .fab, footer .fas {
    color: #232F3E;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  footer p {
    color: #232F3E;
  }
}
/*# sourceMappingURL=style.css.map */